*, html{
    padding: 0px;
    margin: 0px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    box-sizing: border-box;
    background-color: #072930;
    width: 100%;
}
header .logo{
    color: white;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}
header nav{
    float: right;
    
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style: none;
}
header nav ul li a {
    font-size: .8em;
    height: 50px;
    line-height: 50px; 
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}
header nav ul li a:hover,
header nav ul li a.active{
    color: #fff;
    background: #073944;
}
.menu-toggle{
    color: #fff;
    float: right;
    line-height: 50px ;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.break{
    float: none;
}
.intro{
    background-image: url(../img/intro-bg.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
}
.gradient{
    background: linear-gradient(to bottom, rgba(5,55,64,1) 0%, rgba(5,55,64,0.6) 100%);
    width: 100%;
    height: 100%;
}
.container-intro{
    position: relative;
    width: 100%;
    top: 50%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.container-intro h1{font-size: 60px;}

.container-intro h3{font-size: 18px;}

.studio7-title{
    color: #09B7D3;
    font-weight: 100;
}
.services{
    background-color: #073944;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 150px 0;
    
}
.iconwrap{
    display: flex;
    text-align: center; 
    margin: 0px auto; 
}
.iconwrap h1{
    color: #09B7D3;
    text-transform: capitalize;
    font-size: 1.4em;
    padding-top: 65px;
}
.iconwrap p{
    color: rgba(255,255,255,0.5);
    margin: 0 25px;
    
}
.services-title h1{
    color: #09B7D3;
    font-size: 40px;
    padding-bottom: 25px;
    text-transform: uppercase;
}
.services-title p{
    color: rgba(255,255,255,0.5);
    padding: 0px 120px;
}
.aboutus-wrapper{
    background-color: #0BB7D4;
    text-align: center;
    margin: 0px auto;
    color: #fff;
    padding: 100px 0px;
}
.aboutus{
    text-transform: uppercase;  
}
.aboutus h1{
    padding-bottom: 15px;
}
.aboutus p{
    padding-top: 15px;
    padding-bottom: 60px;
}
.sub-text{
    text-align: justify;
    
}
.sub-text h2{
    padding-top: 25px;
    padding-bottom: 17px;
}
.aboutus-text{
    display: inline-flex;
}
.aboutus-text img{
    padding: 0px 20px;
}
.title{
    padding: 0px 20px; 
    
}
.middle-text{
    color: black;
}
.portfolio{
    background-color: #053740;
    margin: 0px auto;
    text-align: center;
    padding: 70px 0px;
}
.portfolio h1{
    text-transform: uppercase;
    color: #25BAD0;
}
.portfolio ul li{
    list-style: none;
    display: inline-block;
    font-size: 1.1em;
    margin: 25px 15px;
    padding: 15px;
}
.portfolio ul li a{
    text-decoration: none;
    color: #25BAD0;
    padding: 24px 0px;
}
.portfolio p{
    padding: 40px 0;
    text-transform: capitalize;
    color: white;

}
.imglay img{
    width: 150px;
    height: 150px;
    padding: 5px;
}
.meetteam{
    background-color: #09B7D3;
    text-align: center;
    color: white;
}
.meettext p{
    padding-bottom: 30px;
}
.meetteam h1{
    padding: 30px 0px;
    text-transform: uppercase;

}
.imagerow{
    display: flex;
    justify-content: center;
}
.imagerow > div {
    padding: 60px;
    text-align: center;
}
.imagerow img{
    border-radius: 50%;
}
.imagerow p{
    padding: 5px 0 15px 0;
}
imglay{
    padding: 60px;
}
.contact{
    background: url(../img/contact-bg.png);
    background: cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    margin: 0px auto;
}
.contact h1{
    color: #25BAD0;
    line-height: 70px;
    text-transform: uppercase;

}
.contact p{
    color: #779196;
    padding: 30px 0;
}
.contact input{
    background: rgba(255,255,255,0.2);
    border: 1px solid black;
    padding: 9px;
    margin-bottom: 15px;
    margin-right: 10px;
}
.contact textarea{
    background: rgba(255,255,255,0.2);
    border: 1px solid black;
}
.contact button{
    background: rgba(255,255,255,0.2);
    border: 1px solid black;
    text-transform: capitalize;
    padding: 6px;
    margin-top: 15px;
}