@media only screen and (max-width: 426px){
    *, html{
        padding: 0px; 
        margin: 0px;
        width: 100%;
    } 
    .services-title p{
        font-size: 16px;
    }
    .gear .rocket-ship p{
        padding-bottom: 115px;
    }
    .container-intro h1{
        font-size: 42px;
    }
    .aboutus-text img{
        width: 260px;
        height: 190px;
    }
    .title{
        padding: 0px;
    }
    .iconwrap{
        display: inline;
        padding: 0px 50px;
    }
    .portfolio ul li{
       padding: 15px 0px;
       margin: 0px;
    }
    .portfolio ul li a{
        margin: 0px;
        padding: 0px;
    }
    .icon p{
        padding: 0px 15550px;
    }
    
}
